<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiwang.csmall.passport.mapper.AdminMapper">

    <resultMap type="com.xiwang.csmall.passport.pojo.entity.Admin" id="AdminMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="enable" column="enable" jdbcType="INTEGER"/>
        <result property="lastLoginIp" column="last_login_ip" jdbcType="VARCHAR"/>
        <result property="loginCount" column="login_count" jdbcType="INTEGER"/>
        <result property="gmtLastLogin" column="gmt_last_login" jdbcType="TIMESTAMP"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="AdminMap">
        select id,
               username,
               password,
               nickname,
               avatar,
               phone,
               email,
               description,
               enable,
               last_login_ip,
               login_count,
               gmt_last_login,
               gmt_create,
               gmt_modified
        from ams_admin
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="AdminMap">
        select
        id, username, password, nickname, avatar, phone, email, description, enable, last_login_ip, login_count,
        gmt_last_login, gmt_create, gmt_modified
        from ams_admin
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickname = #{nickname}
            </if>
            <if test="avatar != null and avatar != ''">
                and avatar = #{avatar}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="enable != null">
                and enable = #{enable}
            </if>
            <if test="lastLoginIp != null and lastLoginIp != ''">
                and last_login_ip = #{lastLoginIp}
            </if>
            <if test="loginCount != null">
                and login_count = #{loginCount}
            </if>
            <if test="gmtLastLogin != null">
                and gmt_last_login = #{gmtLastLogin}
            </if>
            <if test="gmtCreate != null">
                and gmt_create = #{gmtCreate}
            </if>
            <if test="gmtModified != null">
                and gmt_modified = #{gmtModified}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from ams_admin
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickname = #{nickname}
            </if>
            <if test="avatar != null and avatar != ''">
                and avatar = #{avatar}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="enable != null">
                and enable = #{enable}
            </if>
            <if test="lastLoginIp != null and lastLoginIp != ''">
                and last_login_ip = #{lastLoginIp}
            </if>
            <if test="loginCount != null">
                and login_count = #{loginCount}
            </if>
            <if test="gmtLastLogin != null">
                and gmt_last_login = #{gmtLastLogin}
            </if>
            <if test="gmtCreate != null">
                and gmt_create = #{gmtCreate}
            </if>
            <if test="gmtModified != null">
                and gmt_modified = #{gmtModified}
            </if>
        </where>
    </select>

    <!--根据指定内容查询-->
    <select id="countByUsername" resultType="java.lang.Integer">
        select count(*)
        from ams_admin
        where username = #{username}
    </select>
    <select id="countByPhone" resultType="java.lang.Integer">
        select count(*)
        from ams_admin
        where phone = #{phone}
    </select>
    <select id="countByEmail" resultType="java.lang.Integer">
        select count(*)
        from ams_admin
        where email = #{email}
    </select>

    <!-- List<AdminNormalVO> getNormalById(); -->
    <select id="getNormalById" resultMap="NormalResultMap">
        SELECT
        <include refid="NormalQueryFields"/>
        FROM
        ams_admin
        where id = #{id}
    </select>

    <sql id="NormalQueryFields">
        <if test="true">
            id, username, nickname, avatar, phone,
            email, description, enable, last_login_ip, login_count,
            gmt_last_login
        </if>
    </sql>

    <resultMap id="NormalResultMap" type="com.xiwang.csmall.passport.pojo.vo.AdminNormalVO">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="description" property="description"/>
        <result column="enable" property="enable"/>
        <result column="last_login_ip" property="lastLoginIp"/>
        <result column="login_count" property="loginCount"/>
        <result column="gmt_last_login" property="gmtLastLogin"/>
    </resultMap>


    <!-- List<AdminListItemVO> list(); -->
    <select id="list" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM
        ams_admin
        ORDER BY
        enable DESC, id
    </select>

    <select id="getLoginInfoByUsername" resultMap="LoginResultMap">
        select admin.id, admin.username, admin.password, admin.enable, perminssion.value
        from ams_admin as admin
                 left join ams_admin_role as adminRole on admin.id = adminRole.admin_id
                 left join ams_role_permission as rolePermission on adminRole.role_id = rolePermission.role_id
                 left join ams_permission as perminssion on rolePermission.permission_id = perminssion.id
        where admin.username = #{username}
    </select>

    <resultMap id="LoginResultMap" type="com.xiwang.csmall.passport.pojo.vo.AdminLoginInfoVO">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="enable" property="enable"/>
        <collection property="permissions" ofType="String">
            <constructor>
                <arg column="value"/>
            </constructor>
        </collection>
    </resultMap>


    <sql id="ListQueryFields">
        <if test="true">
            id, username, nickname, avatar, phone,
            email, description, enable, last_login_ip, login_count,
            gmt_last_login
        </if>
    </sql>

    <resultMap id="ListResultMap" type="com.xiwang.csmall.passport.pojo.vo.AdminListItemVO">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="description" property="description"/>
        <result column="enable" property="enable"/>
        <result column="last_login_ip" property="lastLoginIp"/>
        <result column="login_count" property="loginCount"/>
        <result column="gmt_last_login" property="gmtLastLogin"/>
    </resultMap>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into ams_admin(username, password, nickname, avatar, phone, email, description, enable, last_login_ip,
                              login_count, gmt_last_login, gmt_create, gmt_modified)
        values (#{username}, #{password}, #{nickname}, #{avatar}, #{phone}, #{email}, #{description}, #{enable},
                #{lastLoginIp}, #{loginCount}, #{gmtLastLogin}, #{gmtCreate}, #{gmtModified})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into ams_admin(username, password, nickname, avatar, phone, email, description, enable, last_login_ip,
        login_count, gmt_last_login, gmt_create, gmt_modified)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.username}, #{entity.password}, #{entity.nickname}, #{entity.avatar}, #{entity.phone},
            #{entity.email}, #{entity.description}, #{entity.enable}, #{entity.lastLoginIp}, #{entity.loginCount},
            #{entity.gmtLastLogin}, #{entity.gmtCreate}, #{entity.gmtModified})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into ams_admin(username, password, nickname, avatar, phone, email, description, enable, last_login_ip,
        login_count, gmt_last_login, gmt_create, gmt_modified)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.username}, #{entity.password}, #{entity.nickname}, #{entity.avatar}, #{entity.phone},
            #{entity.email}, #{entity.description}, #{entity.enable}, #{entity.lastLoginIp}, #{entity.loginCount},
            #{entity.gmtLastLogin}, #{entity.gmtCreate}, #{entity.gmtModified})
        </foreach>
        on duplicate key update
        username = values(username),
        password = values(password),
        nickname = values(nickname),
        avatar = values(avatar),
        phone = values(phone),
        email = values(email),
        description = values(description),
        enable = values(enable),
        last_login_ip = values(last_login_ip),
        login_count = values(login_count),
        gmt_last_login = values(gmt_last_login),
        gmt_create = values(gmt_create),
        gmt_modified = values(gmt_modified)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ams_admin
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="enable != null">
                enable = #{enable},
            </if>
            <if test="lastLoginIp != null and lastLoginIp != ''">
                last_login_ip = #{lastLoginIp},
            </if>
            <if test="loginCount != null">
                login_count = #{loginCount},
            </if>
            <if test="gmtLastLogin != null">
                gmt_last_login = #{gmtLastLogin},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from ams_admin
        where id = #{id}
    </delete>
    <delete id="deleteByIds">
        delete
        from ams_admin
        where id in(
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

</mapper>

