<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiwang.csmall.product.mapper.AlbumMapper">

    <!--    插入数据-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into pms_album(name, description, sort)
        values (#{name}, #{description}, #{sort})
    </insert>

    <!--    批量插入数据-->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into pms_attribute_template(name, pinyin, sort)
        values
        <foreach collection="list" item="album" separator=",">
            (#{album.name}, #{album.description},
            #{album.sort})
        </foreach>

    </insert>

    <!--    根据id删除数据-->
    <delete id="deleteById">
        delete
        from pms_album
        where id = #{id}
    </delete>

    <!--    根据id数组批量删除-->
    <!--    int deleteByIds(Long[] ids);-->
    <delete id="deleteByIds">
        delete
        from pms_album
        where id in
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--    根据id更新数据-->
    <!-- int updateById(Album album); -->
    <update id="updateById">
        UPDATE
        pms_album
        SET
        <if test="name != null">
            name=#{name},
        </if>
        <if test="description != null">
            description=#{description},
        </if>
        <if test="sort != null">
            sort=#{sort}
        </if>
        WHERE
        id=#{id}
    </update>

    <!--if-else-->
    <update id="updateByIdx">
        <choose>
            <when test="66">

            </when>
            <otherwise>

            </otherwise>
        </choose>
    </update>

    <select id="count" resultType="int">
        select count(*)
        from pms_album
    </select>

    <!--    根据id查询数据详情-->
    <select id="getNormalById" resultMap="NormalResultMap">
        select
        <include refid="NormalQueryFields"/>
        from
        pms_album
        where
        id = #{id}
    </select>

    <resultMap id="NormalResultMap" type="com.xiwang.csmall.product.pojo.vo.AlbumNormalVO"/>

    <sql id="NormalQueryFields">
        <if test="true"/>
        id,name,description,sort
    </sql>

    <!--查询数据列表-->
    <select id="list" resultMap="ListResultMap">
        select
        <include refid="ListQueryFields"/>
        from
        pms_album order by sort
    </select>

    <select id="countByName" resultType="int">
        select count(*)
        from pms_album
        where name = #{name}
    </select>

    <resultMap id="ListResultMap" type="com.xiwang.csmall.product.pojo.vo.AlbumListItemVO"/>

    <sql id="ListQueryFields">
        <if test="true"/>
        id,name,description,sort
    </sql>


</mapper>
