<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiwang.csmall.product.mapper.AttributeMapper">

    <resultMap type="com.xiwang.csmall.product.pojo.vo.AttributeListItemVO" id="ListResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="templateId" column="template_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="inputType" column="input_type" jdbcType="INTEGER"/>
        <result property="valueList" column="value_list" jdbcType="VARCHAR"/>
        <result property="unit" column="unit" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="isAllowCustomize" column="is_allow_customize" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap type="com.xiwang.csmall.product.pojo.vo.AttributeNormalVO" id="NormalResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="templateId" column="template_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="inputType" column="input_type" jdbcType="INTEGER"/>
        <result property="valueList" column="value_list" jdbcType="VARCHAR"/>
        <result property="unit" column="unit" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="isAllowCustomize" column="is_allow_customize" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="normalQueryFields">
        <if test="true"/>
        id,
        template_id,
        name,
        description,
        type,
        input_type,
        value_list,
        unit,
        sort,
        is_allow_customize,
        gmt_create,
        gmt_modified
    </sql>
    <sql id="listQueryFields">
        <if test="true"/>
        id,
        template_id,
        name,
        description,
        type,
        input_type,
        value_list,
        unit,
        sort,
        is_allow_customize,
        gmt_create,
        gmt_modified
    </sql>
    <!--查询单个-->
    <select id="getNormalById" resultMap="NormalResultMap">
        select
        <include refid="normalQueryFields"/>
        from pms_attribute
        where id = #{id}
    </select>

    <!--查询所有数据-->
    <select id="list" resultMap="ListResultMap">
        select
        <include refid="listQueryFields"/>
        from pms_attribute
        order by sort
    </select>

    <!--统计总行数-->
    <select id="count" resultType="int">
        select count(1)
        from pms_attribute
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="templateId != null">
                and template_id = #{templateId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="inputType != null">
                and input_type = #{inputType}
            </if>
            <if test="valueList != null and valueList != ''">
                and value_list = #{valueList}
            </if>
            <if test="unit != null and unit != ''">
                and unit = #{unit}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="isAllowCustomize != null">
                and is_allow_customize = #{isAllowCustomize}
            </if>
            <if test="gmtCreate != null">
                and gmt_create = #{gmtCreate}
            </if>
            <if test="gmtModified != null">
                and gmt_modified = #{gmtModified}
            </if>
        </where>
    </select>
    <select id="countByNameAndTemplateId" resultType="java.lang.Integer">
        select count(*)
        from pms_attribute
        where name = #{name}
          and template_id = #{templateId}
    </select>

    <!--    查询指定属性模板下的所有属性-->
    <select id="listByTemplateId" resultMap="ListResultMap">
        select
        <include refid="listQueryFields"/>
        from pms_attribute
        where template_id = #{templateId}
    </select>

    <select id="countByTemplateId" resultType="java.lang.Integer">
        select count(*)
        from pms_attribute
        where template_id = #{templateId}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into pms_attribute(template_id, name, description, type, input_type, value_list, unit, sort,
                                  is_allow_customize, gmt_create, gmt_modified)
        values (#{templateId}, #{name}, #{description}, #{type}, #{inputType}, #{valueList}, #{unit}, #{sort},
                #{isAllowCustomize}, #{gmtCreate}, #{gmtModified})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into pms_attribute(template_id, name, description, type, input_type, value_list, unit, sort,
        is_allow_customize, gmt_create, gmt_modified)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.templateId}, #{entity.name}, #{entity.description}, #{entity.type}, #{entity.inputType},
            #{entity.valueList}, #{entity.unit}, #{entity.sort}, #{entity.isAllowCustomize}, #{entity.gmtCreate},
            #{entity.gmtModified})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into pms_attribute(template_id, name, description, type, input_type, value_list, unit, sort,
        is_allow_customize, gmt_create, gmt_modified)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.templateId}, #{entity.name}, #{entity.description}, #{entity.type}, #{entity.inputType},
            #{entity.valueList}, #{entity.unit}, #{entity.sort}, #{entity.isAllowCustomize}, #{entity.gmtCreate},
            #{entity.gmtModified})
        </foreach>
        on duplicate key update
        template_id = values(template_id),
        name = values(name),
        description = values(description),
        type = values(type),
        input_type = values(input_type),
        value_list = values(value_list),
        unit = values(unit),
        sort = values(sort),
        is_allow_customize = values(is_allow_customize),
        gmt_create = values(gmt_create),
        gmt_modified = values(gmt_modified)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update pms_attribute
        <set>
            <if test="templateId != null">
                template_id = #{templateId},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="inputType != null">
                input_type = #{inputType},
            </if>
            <if test="valueList != null and valueList != ''">
                value_list = #{valueList},
            </if>
            <if test="unit != null and unit != ''">
                unit = #{unit},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="isAllowCustomize != null">
                is_allow_customize = #{isAllowCustomize},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from pms_attribute
        where id = #{id}
    </delete>

    <!--根据主键数组删除-->
    <delete id="deleteByIdS">
        delete
        from pms_attribute
        where id in(
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>
    <delete id="deleteByTemplateId">
        delete
        from pms_attribute
        where template_id = #{template_id}
    </delete>

</mapper>

