<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiwang.csmall.product.mapper.BrandMapper">

    <!--    插入数据-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into pms_brand(name, pinyin, logo, description, keywords, sort, enable)
        values (#{name}, #{pinyin}, #{logo}, #{description}, #{keywords}, #{sort}, #{enable})
    </insert>

    <!--    批量插入数据-->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into pms_brand(name, pinyin, logo, description, keywords, sort, enable)
        values
        <foreach collection="list" item="brand" separator=",">
            (#{brand.name},#{brand.pinyin},#{brand.logo},
            #{brand.description},#{brand.keywords},#{brand.sort},#{brand.enable})
        </foreach>

    </insert>

    <!--    根据id删除数据-->
    <delete id="deleteById">
        delete
        from pms_brand
        where id = #{id}
    </delete>

    <!--    根据id数组批量删除-->
    <!--    int deleteByIds(Long[] ids);-->
    <delete id="deleteByIds">
        delete
        from pms_brand
        where id in (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <!--    根据id更新数据-->
    <!-- int updateById(Brand brand); -->
    <update id="updateById">
        UPDATE
        pms_brand
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="pinyin != null">
                pinyin=#{pinyin},
            </if>
            <if test="logo != null">
                logo=#{logo},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="keywords != null">
                keywords=#{keywords},
            </if>
            <if test="sort != null">
                sort=#{sort},
            </if>
            <if test="sales != null">
                sales=#{sales},
            </if>
            <if test="productCount != null">
                product_count=#{productCount},
            </if>
            <if test="commentCount != null">
                comment_count=#{commentCount},
            </if>
            <if test="positiveCommentCount != null">
                positive_comment_count=#{positiveCommentCount},
            </if>
            <if test="enable != null">
                enable=#{enable},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!--if-else-->
    <update id="updateByIdx">
        <choose>
            <when test="66">

            </when>
            <otherwise>

            </otherwise>
        </choose>
    </update>

    <select id="count" resultType="int">
        select count(*)
        from pms_brand
    </select>

    <select id="getNormalById" resultMap="NormalResultMap">
        select
        <include refid="NormalQueryFields"/>
        from pms_brand where id=#{id}
    </select>

    <resultMap id="NormalResultMap" type="com.xiwang.csmall.product.pojo.vo.BrandNormalVO"/>

    <sql id="NormalQueryFields">
        <if test="true"/>
        id, name, pinyin, logo, description,
        keywords, sort, sales, product_count, comment_count,
        positive_comment_count, enable
    </sql>


    <!--查询数据列表-->
    <select id="list" resultMap="ListResultMap">
        select
        <include refid="ListQueryFields"/>
        from
        pms_brand order by enable desc,sort
    </select>
    <select id="countByName" resultType="java.lang.Integer">
        select count(*)
        from pms_brand
        where name = #{name}
    </select>

    <resultMap id="ListResultMap" type="com.xiwang.csmall.product.pojo.vo.BrandListItemVO"/>

    <sql id="ListQueryFields">
        <if test="true"/>
        id, name, pinyin, logo,description,keywords,sort,sales,
        product_count,comment_count,positive_comment_count,enable
        enable
    </sql>


</mapper>
