<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiwang.csmall.product.mapper.BrandCategoryMapper">

    <!-- int insert(BrandCategory brandCategory); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_brand_category (brand_id, category_id)
        VALUES (#{brandId}, #{categoryId})
    </insert>

    <!-- int insertBatch(List<BrandCategory> brandCategoryList); -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_brand_category (
        brand_id, category_id
        ) VALUES
        <foreach collection="list" item="brandCategory" separator=",">
            (
            #{brandCategory.brandId}, #{brandCategory.categoryId}
            )
        </foreach>
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE
        FROM pms_brand_category
        WHERE id = #{id}
    </delete>

    <!-- int deleteByIds(List<Long> ids); -->
    <delete id="deleteByIds">
        DELETE FROM pms_brand_category WHERE id IN (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <!-- int updateById(BrandCategory brandCategory); -->
    <update id="updateById">
        UPDATE
        pms_brand_category
        <set>
            <if test="brandId != null">
                brand_id=#{brandId},
            </if>
            <if test="categoryId != null">
                category_id=#{categoryId},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!-- int count(); -->
    <select id="count" resultType="int">
        SELECT count(*)
        FROM pms_brand_category
    </select>

    <!-- BrandCategoryNormalVO getNormalById(Long id); -->
    <select id="getNormalById" resultMap="NormalResultMap">
        SELECT
        <include refid="NormalQueryFields"/>
        FROM
        pms_brand_category
        WHERE
        id=#{id}
    </select>

    <!-- List<BrandCategoryListItemVO> list(); -->
    <select id="list" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM
        pms_brand_category
        ORDER BY
        id DESC
    </select>

    <select id="countByBrand" resultType="java.lang.Integer">
        select count(*)
        from pms_brand_category
        where brand_id = #{brandId}
    </select>

    <select id="countByCategory" resultType="java.lang.Integer">
        select count(*)
        from pms_brand_category
        where category_id = #{categoryId}
    </select>

    <sql id="NormalQueryFields">
        <if test="true">
            brand_id,
            category_id
        </if>
    </sql>

    <resultMap id="NormalResultMap"
               type="com.xiwang.csmall.product.pojo.vo.BrandCategoryNormalVO">
        <id column="id" property="id"/>
        <result column="brand_id" property="brandId"/>
        <result column="category_id" property="categoryId"/>
    </resultMap>

    <sql id="ListQueryFields">
        <if test="true">
            brand_id,
            category_id
        </if>
    </sql>

    <resultMap id="ListResultMap"
               type="com.xiwang.csmall.product.pojo.vo.BrandCategoryListItemVO">
        <id column="id" property="id"/>
        <result column="brand_id" property="brandId"/>
        <result column="category_id" property="categoryId"/>
    </resultMap>

</mapper>