<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiwang.csmall.product.mapper.CategoryAttributeTemplateMapper">

    <!-- int insert(CategoryAttributeTemplate categoryAttributeTemplate); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_category_attribute_template (category_id, attribute_template_id)
        VALUES (#{categoryId}, #{attributeTemplateId})
    </insert>

    <!-- int insertBatch(List<CategoryAttributeTemplate> categoryAttributeTemplateList); -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_category_attribute_template (
        category_id, attribute_template_id
        ) VALUES
        <foreach collection="list" item="categoryAttributeTemplate" separator=",">
            (
            #{categoryAttributeTemplate.categoryId}, #{categoryAttributeTemplate.attributeTemplateId}
            )
        </foreach>
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE
        FROM pms_category_attribute_template
        WHERE id = #{id}
    </delete>

    <!-- int deleteByIds(List<Long> ids); -->
    <delete id="deleteByIds">
        DELETE FROM pms_category_attribute_template WHERE id IN (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <!-- int updateById(CategoryAttributeTemplate categoryAttributeTemplate); -->
    <update id="updateById">
        UPDATE
        pms_category_attribute_template
        <set>
            <if test="categoryId != null">
                category_id=#{categoryId},
            </if>
            <if test="attributeTemplateId != null">
                attribute_template_id=#{attributeTemplateId},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!-- int count(); -->
    <select id="count" resultType="int">
        SELECT count(*)
        FROM pms_category_attribute_template
    </select>

    <!-- CategoryAttributeTemplateNormalVO getNormalById(Long id); -->
    <select id="getNormalById" resultMap="NormalResultMap">
        SELECT
        <include refid="NormalQueryFields"/>
        FROM
        pms_category_attribute_template
        WHERE
        id=#{id}
    </select>

    <!-- List<CategoryAttributeTemplateListItemVO> list(); -->
    <select id="list" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM
        pms_category_attribute_template
        ORDER BY
        id DESC
    </select>

    <select id="countByAttributeTemplate" resultType="java.lang.Integer">
        select count(*)
        from pms_category_attribute_template
        where attribute_template_id = #{attributeTemplateId}
    </select>
    <select id="countByCategory" resultType="java.lang.Integer">
        select count(*)
        from pms_category_attribute_template
        where category_id = #{categoryId}
    </select>

    <sql id="NormalQueryFields">
        <if test="true">
            category_id,
            attribute_template_id
        </if>
    </sql>

    <resultMap id="NormalResultMap"
               type="com.xiwang.csmall.product.pojo.vo.CategoryAttributeTemplateNormalVO">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="attribute_template_id" property="attributeTemplateId"/>
    </resultMap>

    <sql id="ListQueryFields">
        <if test="true">
            category_id,
            attribute_template_id
        </if>
    </sql>

    <resultMap id="ListResultMap"
               type="com.xiwang.csmall.product.pojo.vo.CategoryAttributeTemplateListItemVO">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="attribute_template_id" property="attributeTemplateId"/>
    </resultMap>

</mapper>