<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiwang.csmall.product.mapper.CategoryMapper">

    <!-- int insert(Category category); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_category (name, parent_id, depth, keywords, sort,
                                  icon, enable, is_parent, is_display)
        VALUES (#{name}, #{parentId}, #{depth}, #{keywords}, #{sort},
                #{icon}, #{enable}, #{isParent}, #{isDisplay})
    </insert>

    <!-- int insertBatch(List<Category> categoryList); -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_category (
        name, parent_id, depth, keywords, sort,
        icon, enable, is_parent, is_display
        ) VALUES
        <foreach collection="list" item="category" separator=",">
            (
            #{category.name}, #{category.parentId}, #{category.depth}, #{category.keywords}, #{category.sort},
            #{category.icon}, #{category.enable}, #{category.isParent}, #{category.isDisplay}
            )
        </foreach>
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE
        FROM pms_category
        WHERE id = #{id}
    </delete>

    <!-- int deleteByIds(List<Long> ids); -->
    <delete id="deleteByIds">
        DELETE FROM pms_category WHERE id IN (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <!-- int updateById(Category category); -->
    <update id="updateById">
        UPDATE
        pms_category
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="parentId != null">
                parent_id=#{parentId},
            </if>
            <if test="depth != null">
                depth=#{depth},
            </if>
            <if test="keywords != null">
                keywords=#{keywords},
            </if>
            <if test="sort != null">
                sort=#{sort},
            </if>
            <if test="icon != null">
                icon=#{icon},
            </if>
            <if test="enable != null">
                enable=#{enable},
            </if>
            <if test="isParent != null">
                is_parent=#{isParent},
            </if>
            <if test="isDisplay != null">
                is_display=#{isDisplay},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!-- int count(); -->
    <select id="countByName" resultType="int">
        SELECT count(*)
        FROM pms_category
        where name = #{name}
    </select>

    <!-- CategoryNormalVO getNormalById(Long id); -->
    <select id="getNormalById" resultMap="NormalResultMap">
        SELECT
        <include refid="NormalQueryFields"/>
        FROM
        pms_category
        WHERE
        id=#{id}
    </select>

    <!-- List<CategoryListItemVO> list(); -->
    <select id="list" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM
        pms_category
        ORDER BY
        sort DESC, id
    </select>
    <select id="listByParentId" resultMap="ListResultMap">
        select
        <include refid="ListQueryFields"/>
        FROM
        pms_category
        where parent_id= #{parent_id}
        ORDER BY
        sort DESC, id
    </select>

    <select id="countByParentId" resultType="java.lang.Integer">
        select count(*)
        from pms_category
        where parent_id = #{parent_id}
    </select>

    <sql id="NormalQueryFields">
        <if test="true">
            id,
            name,
            parent_id,
            depth,
            keywords,
            sort,
            icon,
            enable,
            is_parent,
            is_display
        </if>
    </sql>

    <resultMap id="NormalResultMap"
               type="com.xiwang.csmall.product.pojo.vo.CategoryNormalVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="depth" property="depth"/>
        <result column="keywords" property="keywords"/>
        <result column="sort" property="sort"/>
        <result column="icon" property="icon"/>
        <result column="enable" property="enable"/>
        <result column="is_parent" property="isParent"/>
        <result column="is_display" property="isDisplay"/>
    </resultMap>

    <sql id="ListQueryFields">
        <if test="true">
            id,
            name,
            parent_id,
            depth,
            keywords,
            sort,
            icon,
            enable,
            is_parent,
            is_display
        </if>
    </sql>

    <resultMap id="ListResultMap"
               type="com.xiwang.csmall.product.pojo.vo.CategoryListItemVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="depth" property="depth"/>
        <result column="keywords" property="keywords"/>
        <result column="sort" property="sort"/>
        <result column="icon" property="icon"/>
        <result column="enable" property="enable"/>
        <result column="is_parent" property="isParent"/>
        <result column="is_display" property="isDisplay"/>
    </resultMap>

</mapper>