<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiwang.csmall.product.mapper.PictureMapper">

    <!-- int insert(Picture picture); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_picture (album_id, url, is_cover, description, width,
                                 height, sort)
        VALUES (#{albumId}, #{url}, #{isCover}, #{description}, #{width},
                #{height}, #{sort})
    </insert>

    <!-- int insertBatch(List<Picture> pictureList); -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_picture (
        album_id, url, is_cover, description, width,
        height, sort
        ) VALUES
        <foreach collection="list" item="picture" separator=",">
            (
            #{picture.albumId}, #{picture.url}, #{picture.isCover}, #{picture.description}, #{picture.width},
            #{picture.height}, #{picture.sort}
            )
        </foreach>
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE
        FROM pms_picture
        WHERE id = #{id}
    </delete>

    <!-- int deleteByIds(List<Long> ids); -->
    <delete id="deleteByIds">
        DELETE FROM pms_picture WHERE id IN (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <!-- int updateById(Picture picture); -->
    <update id="updateById">
        UPDATE
        pms_picture
        <set>
            <if test="albumId != null">
                album_id=#{albumId},
            </if>
            <if test="url != null">
                url=#{url},
            </if>
            <if test="isCover != null">
                is_cover=#{isCover},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="width != null">
                width=#{width},
            </if>
            <if test="height != null">
                height=#{height},
            </if>
            <if test="sort != null">
                sort=#{sort},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!-- int count(); -->
    <select id="count" resultType="int">
        SELECT count(*)
        FROM pms_picture
    </select>

    <!-- PictureNormalVO getNormalById(Long id); -->
    <select id="getNormalById" resultMap="NormalResultMap">
        SELECT
        <include refid="NormalQueryFields"/>
        FROM
        pms_picture
        WHERE
        id=#{id}
    </select>

    <!-- List<PictureListItemVO> list(); -->
    <select id="list" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM
        pms_picture
        ORDER BY
        sort DESC, id DESC
    </select>

    <select id="countByAlbum" resultType="java.lang.Integer">
        select count(*)
        from pms_picture
        where album_id = #{albumId}
    </select>

    <sql id="NormalQueryFields">
        <if test="true">
            id,
            album_id,
            url,
            is_cover,
            description,
            width,
            height,
            sort
        </if>
    </sql>

    <resultMap id="NormalResultMap"
               type="com.xiwang.csmall.product.pojo.vo.PictureNormalVO">
        <id column="id" property="id"/>
        <result column="album_id" property="albumId"/>
        <result column="url" property="url"/>
        <result column="is_cover" property="isCover"/>
        <result column="description" property="description"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <sql id="ListQueryFields">
        <if test="true">
            id,
            album_id,
            url,
            is_cover,
            description,
            width,
            height,
            sort
        </if>
    </sql>

    <resultMap id="ListResultMap"
               type="com.xiwang.csmall.product.pojo.vo.PictureListItemVO">
        <id column="id" property="id"/>
        <result column="album_id" property="albumId"/>
        <result column="url" property="url"/>
        <result column="is_cover" property="isCover"/>
        <result column="description" property="description"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="sort" property="sort"/>
    </resultMap>

</mapper>