<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiwang.csmall.product.mapper.SkuSpecificationMapper">

    <!-- int insert(SkuSpecification skuSpecification); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_sku_specification (
            sku_id, attribute_id, attribute_name, attribute_value, unit,
            sort
        ) VALUES (
            #{skuId}, #{attributeId}, #{attributeName}, #{attributeValue}, #{unit},
            #{sort}
        )
    </insert>

    <!-- int insertBatch(List<SkuSpecification> skuSpecificationList); -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_sku_specification (
            sku_id, attribute_id, attribute_name, attribute_value, unit,
            sort
        ) VALUES
        <foreach collection="list" item="skuSpecification" separator=",">
            (
                #{skuSpecification.skuId}, #{skuSpecification.attributeId}, #{skuSpecification.attributeName}, #{skuSpecification.attributeValue}, #{skuSpecification.unit},
                #{skuSpecification.sort}
            )
        </foreach>
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE FROM pms_sku_specification WHERE id=#{id}
    </delete>

    <!-- int deleteByIds(List<Long> ids); -->
    <delete id="deleteByIds">
        DELETE FROM pms_sku_specification WHERE id IN (
            <foreach collection="array" item="id" separator=",">
                #{id}
            </foreach>
        )
    </delete>

    <!-- int updateById(SkuSpecification skuSpecification); -->
    <update id="updateById">
        UPDATE
            pms_sku_specification
        <set>
            <if test="skuId != null">
                sku_id=#{skuId},
            </if>
            <if test="attributeId != null">
                attribute_id=#{attributeId},
            </if>
            <if test="attributeName != null">
                attribute_name=#{attributeName},
            </if>
            <if test="attributeValue != null">
                attribute_value=#{attributeValue},
            </if>
            <if test="unit != null">
                unit=#{unit},
            </if>
            <if test="sort != null">
                sort=#{sort},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!-- int count(); -->
    <select id="count" resultType="int">
        SELECT count(*) FROM pms_sku_specification
    </select>

    <!-- SkuSpecificationNormalVO getNormalById(Long id); -->
    <select id="getNormalById" resultMap="NormalResultMap">
        SELECT
            <include refid="NormalQueryFields"/>
        FROM
            pms_sku_specification
        WHERE
            id=#{id}
    </select>

    <!-- List<SkuSpecificationListItemVO> list(); -->
    <select id="list" resultMap="ListResultMap">
        SELECT
            <include refid="ListQueryFields"/>
        FROM
            pms_sku_specification
        ORDER BY
            sort DESC, id DESC
    </select>

    <sql id="NormalQueryFields">
        <if test="true">
            id, sku_id, attribute_id, attribute_name, attribute_value,
            unit, sort
        </if>
    </sql>

    <resultMap id="NormalResultMap"
               type="com.xiwang.csmall.product.pojo.vo.SkuSpecificationNormalVO">
        <id column="id" property="id"/>
        <result column="sku_id" property="skuId"/>
        <result column="attribute_id" property="attributeId"/>
        <result column="attribute_name" property="attributeName"/>
        <result column="attribute_value" property="attributeValue"/>
        <result column="unit" property="unit"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <sql id="ListQueryFields">
        <if test="true">
            id, sku_id, attribute_id, attribute_name, attribute_value,
            unit, sort
        </if>
    </sql>

    <resultMap id="ListResultMap"
               type="com.xiwang.csmall.product.pojo.vo.SkuSpecificationListItemVO">
        <id column="id" property="id"/>
        <result column="sku_id" property="skuId"/>
        <result column="attribute_id" property="attributeId"/>
        <result column="attribute_name" property="attributeName"/>
        <result column="attribute_value" property="attributeValue"/>
        <result column="unit" property="unit"/>
        <result column="sort" property="sort"/>
    </resultMap>

</mapper>